# Post Copier To-Do's for the `{{ module_type }}/{{ module_name }}` module.

This issue is for tracking the development of the module that was copied from the `able-workflow-module-copier` template.

## Next steps

### Required
