# {{ module_name_long }}

{{ module_description}}

This module was created using the [able-workflow-module-copier](https://github.com/NEU-ABLE-LAB/able-workflow-etl-copier) template. See the [Contributing Page](contributing/templates/{{ module_type }}/{{ module_name }}) for more information on how to update or contribute to this module.

Pages in this section describe the ETL processes that are used to extract, transform, and load the {{ module_name_long }} {{ module_type }}.
