# Post Copier To-Do's for the `{{ module_type }}/{{ module_name }}` module

This issue is for tracking the development of the module that was copied from the `able-workflow-module-copier` template.

## Next steps

### Required

No modifications should be required for the module to function. The primary functionality of the module is within the ETL processes, which are copied from the `able-workflow-etl-copier` template.

- [ ] Generate an ETL process within this module with the [`able-workflow-etl-copier`](https://github.com/NEU-ABLE-LAB/able-workflow-etl-copier) template.

### Optional

- [ ] `pyproject.toml`
    - [ ] Add any extra dependencies that this module requires to `runner` in the `[project.optional-dependencies]` section of `pyproject.toml`. You may not know which extra dependencies you require until you start working on the ETL processes. If those dependencies are not available on [conda-forge](https://anaconda.org/conda-forge/repo), then configure the `[tool.pyproject2conda.dependencies]` section of `pyproject.toml` to specify that they should be installed via `pip` instead of `conda`.
- [ ] `workflow/profiles/`
    - [ ] The default profile already includes this module's configuration file from `workflow/profiles/default/config.yaml`. If you have other profiles, include this module's configuration file there as well.
- [ ] `config/{{ module_type }}/{{ module_name }}/config.yaml`
    - [ ] Add configuration options as needed.
- [ ] `workflow/schemas/{{ module_type }}/{{ module_name }}/config.schema.yaml`
    - [ ] Update schema to match the configuration options in `config/{{ module_type }}/{{ module_name }}/config.yaml`.
