"""
This contains ETL processes for generating the {{ module_name }} {{ module_type }}.

See `config/{{ module_type }}/{{ module_name }}/config.yaml`
for details on the configuration of this module.
"""
